.contenedor {
    border: 5px solid pink;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.contenedor-2 {
    border: 5px solid pink;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin-top: 100px;
}

.item {
    font-size: 2rem ;
    border: 5px solid rgb(36, 255, 244);
}